@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');
:root{
    --primary-color: #FDFD1A;
    --secondary-color: #0E1C21;
    --accent-color: #662919;
    --cart-color:#F8F3EE;
}
body{
    margin: 0;
    padding: 0;
}
header{
    background-color:var(--cart-color);
    margin:0 50px;
    border-radius: 25px;
    position:fixed;
    top:20px;
    left:0;
    right:0;
    z-index:1000;
    transition:0.3s;
    
}
header.scroll{
    background-color:rgba(248,243,238,0.5);
    backdrop-filter: blur(6px);
}
header.scroll {
    top:0px;
}
.menu{
    display: flex;
    justify-content: space-evenly;
     
    
}
#li_title{
    padding: 0 20%;
    text-transform: uppercase;
    font-family: "Bevan", serif;
    font-weight: 400;
    
}
.menu li{
    list-style: none;
}
.menu li a{
    text-decoration: none;
    color:var(--secondary-color); ;
    text-transform: capitalize;
    font-size: large; 
}
#li_contact{
    background-color:var(--primary-color);
    border-radius: 25px;
    padding: 1% 2%;
    margin-top: -15px;
    margin-bottom: -15px;
    margin-right: -68.8px;
}
.menu li a:hover{
    color:var(--accent-color);
    text-decoration: var(--accent-color) underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;


}
#li_contact:hover{
    background-color: #DADA00;
    color: black;
}
#section-acceuil{
    background-image:url(images/accueil_img.png);
    height: 100vh;
    background-size: cover;
    
}
#acceuil_parag{
    position: absolute;
    top: 25%;
    left: 5%;
    color: #0E1C21;
    text-align: left;
    font-size: 2em;
    
}
#acceuil_title{
    position: absolute;
    top: 53%;
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 200px;
    padding-left: 30px;
    color: var(--primary-color); 
    animation: slide 3s ease-out; 
}
@keyframes slide{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}